<h1>Wellcome to Web Store Services...</h1>
<h3>
  We are a boutique studio, offering a wide range of premium web products.<br />
  all of our assets are handcrafted, digitally signed and 100% original.
</h3>
<h4>
  the one stop shop- custom design at an affordable price: for your web-site,
  right here, from this very web shop...
</h4>
<h5>
  to view our catalogue - you must register and login... so go right ahead:
</h5>

<button type="button" mat-raised-button color="accent" routerLink="/register">
  <i class="material-icons">face</i> Create an Account
</button>
<br /><br />
<mat-grid-list cols="2" rowHeight="300px">
  <mat-grid-tile>
    <img src="assets/images/pexels-photo-4050299.jpeg" alt=" Nice seeing ya!" />
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/pencil-typography-black-design.jpg"
      alt=" Nice seeing ya!"
    />
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="assets/images/home.jpg" alt=" Nice seeing ya!" />
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      src="assets/images/hands-people-woman-working.jpg"
      alt=" Nice seeing ya!"
    />
  </mat-grid-tile>
</mat-grid-list>
