<div class="card mat-elevation-z8">
  <h1>edit this item:</h1>
  <form>
    <mat-form-field>
      <mat-label>Edit Item Name:</mat-label>
      <input
        matInput
        name="itemName"
        #nameIn="ngModel"
        value="{{ name }}"
        minlength="1"
        [(ngModel)]="editItemForm.itemName"
        placeholder="item name"
        required
      />
      <mat-error *ngIf="nameIn.touched && nameIn.invalid"
        >must include item name
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Choose category:</mat-label>
      <mat-select
        name="catID"
        #catIDIn="ngModel"
        [(ngModel)]="editItemForm.catID"
      >
        <mat-option *ngFor="let c of cats" value="{{ c.catID }}">
          {{ c.catName }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="catIDIn.touched && catIDIn.invalid"
        >must include category
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Edit Item Price:</mat-label>
      <input
        type="number"
        min="1"
        matInput
        name="price"
        #priceIn="ngModel"
        value="{{ price }}"
        minlength="1"
        [(ngModel)]="editItemForm.price"
        placeholder="item price"
        required
      />
      <mat-error *ngIf="priceIn && priceIn.invalid">
        must include item price
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Edit Item itemDescription:</mat-label>
      <textarea
        min="1"
        matInput
        name="itemDescription"
        #descIn="ngModel"
        value="{{ itemDescription }}"
        minlength="1"
        [(ngModel)]="editItemForm.itemDescription"
        placeholder="item Description"
        required
      ></textarea>
      <mat-error *ngIf="descIn && descIn.invalid">
        must include item Description
      </mat-error>
    </mat-form-field>
    <br />
    <button
      type="submit"
      mat-raised-button
      type="button"
      color="primary"
      class="col"
      value="Add"
      (click)="editItem(productID)"
    >
      <i class="material-icons">create</i> Submit Changes
    </button>
    <br />
    <a mat-raised-button routerLink="/dashboard">
      <i class="material-icons">keyboard_backspace</i> Back to Dashboard
    </a>
  </form>
</div>
