<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <form name="first" id="first">
      <ng-template matStepLabel
        >Create account : Check id and email</ng-template
      >
      <mat-form-field>
        <mat-label>Identification</mat-label>
        <input
          matInput
          name="id"
          #idIn="ngModel"
          minlength="8"
          [(ngModel)]="addUser.id"
          placeholder="Identification"
          required
        />
        <mat-error *ngIf="idIn">
          8-9 numbers Identification is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          #emailIn="ngModel"
          minlength="4"
          placeholder="Ex. pat@example.com"
          name="username_email"
          [(ngModel)]="addUser.username_email"
          required
        />
        <mat-hint>Your Email as your User Name</mat-hint>
        <mat-error *ngIf="emailIn">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailIn.touched && emailIn.invalid"
          >{{ errorMessages.email }} Email is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          name="password"
          value="94043"
          #passIn
          #passIn="ngModel"
          minlength="3"
          [(ngModel)]="addUser.password"
          placeholder="Choose password"
          required
        />
        <mat-hint align="end">{{ passIn.value.length }} / 3</mat-hint>
        <mat-error *ngIf="passIn">is too short </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          type="password"
          name="conf_password"
          #confPassIn="ngModel"
          minlength="3"
          [(ngModel)]="confPass"
          placeholder="Confirm password"
          required
        />
        <mat-error *ngIf="passIn"> passwords Do not match </mat-error>
        <mat-error
          *ngIf="confPassIn.touched && confPassIn.value !== passIn.value"
          >{{ errorMessages }} passwords Do not match
        </mat-error>
      </mat-form-field>
      <br />
      <div>
        <mat-error *ngIf="!validated1">{{ errorBox }} </mat-error>
        <button
          mat-stroked-button
          [disabled]="validated1"
          (click)="checkUser()"
        >
          Check Availability
        </button>
        <button
          mat-raised-button
          color="accent"
          matStepperNext
          *ngIf="validated1"
          [disabled]="!validated1"
        >
          Good to go, proceed <i class="material-icons">arrow_right_alt </i>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="validated1">
    <form novalidate>
      <ng-template matStepLabel>Supply Account info</ng-template>
      <mat-form-field>
        <mat-label>Enter your First Name</mat-label>
        <input
          matInput
          placeholder="John"
          name="firstName"
          #fNameIn="ngModel"
          minlength="2"
          [(ngModel)]="addUser.firstName"
          required
        />
        <mat-error *ngIf="fNameIn">your First Name is too short </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your Last Name</mat-label>
        <input
          matInput
          placeholder="Doe"
          name="lastName"
          #lNameIn="ngModel"
          minlength="2"
          [(ngModel)]="addUser.lastName"
          required
        />
        <mat-error *ngIf="lNameIn">your Last Name is too short </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Address</mat-label>
        <textarea
          matInput
          placeholder="Ex. 1 Main St, New York, NY"
          name="address"
          #streetIn="ngModel"
          minlength="3"
          [(ngModel)]="addUser.street"
          required
        ></textarea>
        <mat-error *ngIf="streetIn"
          >your street address is too short
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Nearest City:</mat-label>
        <mat-select
          #cityIn="ngModel"
          [(ngModel)]="addUser.city"
          name="city"
          required
        >
          <mat-option *ngFor="let c of cities" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="cityIn">please Choose a city from the list</mat-error>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>
          <i class="material-icons">arrow_left_alt </i> Back
        </button>
        <button mat-raised-button color="primary" (click)="signUp()">
          Sign Me Up <i class="material-icons">arrow_right_alt </i>
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
